body{
background-color: #E5520E;
margin: 0px;
background-image: url('background.png');
}

.centercontent{
	height: 100%;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.header{
	height: 200px;
	width: 100%;
	background-color: black;
	text-align: center;
	padding-top: auto;
	background-image: url('background.png');
}

.mainarea{
	height: 575px;
	width: 100%;
	background-color: #BD293F;
	background-image: url('background.png');
}

.footer{
	height: 500px;
	width: 100%;
	background-image: url('background.png');
}

.twocol{
	height: 400px;
	width: 300px;
	margin-left: 16px;
	margin-right: 16px;
	float: left;
	text-align: center;
	font-family: 'Share Tech', sans-serif;
	font-size: 18px;
	line-height: 28px;
}

.threecol{
	height: 400px;
	width: 300px;
	margin-left: 16px;
	margin-right: 16px;
	float: left;
	text-align: center;
	font-family: 'Share Tech', sans-serif;
	font-size: 18px;
	line-height: 28px;
}
.center{
	height: 250px;
	width: 375px;
	margin-left: 110px;
	float: left;
	font-family: 'Share Tech', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
}

h1{
	font-size: 65px;
	padding-top: 25px;
	font-family: 'Share Tech', sans-serif;
	color: black;
	letter-spacing: 10px;
}

h2{
	font-size: 30px;
	padding-top: 25px;
	font-family: 'Share Tech', sans-serif;
	font-weight: 300;
}

h3{
	font-size: 20px;
	margin-top: -35px;
	font-family: 'Share Tech Mono', monospace;
	font-weight: 300;
	color: black;
	letter-spacing: 3px;
}

h4{
	font-size: 20px;
	margin-top: 50px;
	font-family: 'Share Tech Mono', monospace;
	font-weight: 300;
	letter-spacing: 3px;
}